@use "variebles" as *;

#map {
  height: 700px;
  width: 100%;
}

.contacts {
  position: relative;
  &__container {
    background-color: $white;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px;
    margin: 0 auto;
    padding-top: 90px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px 70px 60px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
  }

  &__right {
    width: 50%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 30px;
    align-items: flex-end;
  }

  &__input {
    width: 100%;
    border: none;
    padding: 15px 5px;
    border-bottom: 2px solid #d5d6d7;
    font-family: "Montserrat";
    &::placeholder {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: $placeholder;
    }
    &:focus {
      border-bottom: 2px solid $violet;
    }
  }
}
