@use "variebles" as *;

.hero {
  position: relative;
  margin-bottom: 100px;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  &__slogan {
    margin-bottom: 20px;
  }

  &__scroll--link {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    color: $white;
    width: 40px;
    height: 40px;
    padding: 7px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid rgba($white, 0.5);
    cursor: pointer;
    z-index: 2;
    animation: move-wheel 3.5s ease-out;
    animation-iteration-count: infinite;
    &:hover {
      animation-play-state: paused;
    }

    @keyframes move-wheel {
      0% {
        opacity: 0;
        transform: translateY(-1rem);
      }

      100% {
        opacity: 1;
        transform: translateY(1rem);
      }
    }
  }
}

.material-symbols-outlined {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $white;
}

.hero-splide__pagination {
  gap: 40px;
}

.hero-splide__page {
  left: -50px;
  width: 10px;
  height: 10px;
  border: 1px solid $white !important;
  border-radius: 50%;
  background: transparent !important;

  &.is-active {
    background: $white !important;
    opacity: 1;
  }
}
